.Button {
    color: var(--lightWhite);
    padding: 0 10px;
    outline: none;
}

.Button:focus {
    outline-color: #068558;
}

.default {
    background-color: var(--darkGreen);
    border: 1px solid var(--darkGreen);
    border-radius: 1px;
}

.default:hover,
.default:active,
.defualt:visited {
    background-color: #04583b;
    border: 1px solid #04583b;
}

.scrollToTop {
    background-color: var(--darkGreen);
    border: 1px solid var(--darkGreen);
    width: 65px;
    height: 65px;
    border-radius: 50%;
}