.Button {
    color: var(--lightWhite);
    padding: 0 10px;
    outline: none;
}

.Button:focus {
    outline-color: #068558;
}

.default {
    background-color: var(--middleGreen);
    border: 1px solid var(--middleGreen);

    border-radius: 1px;
}

.default:hover,
.default:active,
.defualt:visited,
.scrollToTop:hover,
.scrollToTop:active,
.scrollToTop:visited {
    background-color: var(--lightGreen);
    border: 1px solid var(--lightGreen);
}

.scrollToTop {
    background-color: var(--middleGreen);
    border: 1px solid var(--middleGreen);
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.profile:hover,
.profile:active,
.profile:visited {
    background-color: var(--lightGreen);
    border: 1px solid var(--lightGreen);
}

.profile {
    border: 1px solid var(--darkWhite);
    color: var(--darkWhite);
    margin: 10px;
}

.rounded {
    border-radius: 5px;
}