.App {
  text-align: center;
  color: black;
}

:root {
  --lightWhite: #FBFDFC;
  --darkWhite: #F0F6F4;
  --lightGreen: #B3E5D4;
  --middleGreen: #649482;
  --darkGreen: #046b47;
  
  --pageMargin: 0 50px;
}
