.App {
  text-align: center;
  color: black;
  font-family: 'Lexend Deca', sans-serif;
}

:root {
  --lightWhite: #FBFDFC;
  --darkWhite: #F0F6F4;
  --lightGreen: #82ad95;
  --middleGreen: #518e65;
  --darkGreen: #2d6b47;
  
  --pageMargin: 0 50px;
}

